{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="kafedra-title" style="background-image: url({% static '/assets/images/medik.jpg' %})">
        <p>Institut kafedralari</p>
        <ul>
            <li><a href="/">Asosiy page</a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <section class="kafedra-blog">
        <div class="kafedra-blogs">
            {% for chair in chairs %}
                <div class="kafedra">
                    <a href="#">
                        <i class="fa fa-graduation-cap"></i>
                        <h3 class="kafedra-name">
                            {{ chair.name }}
                        </h3>
                    </a>
                </div>
            {% endfor %}
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
            <div class="kafedra">
                <a href="https://admin.tsdi.uz/admin">
                    <i class="fa fa-sign-out"></i>
                    <h3 class="kafedra-name">
                        Login
                    </h3>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
