{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-content content">
        <div class="blog">
            <h2>O'zbekiston Respublikasining davlat bayrog'i</h2>
            <ul>
                <li>"O'zbekiston Respublikasi Davlat bayrog'i to'g'risida"gi qonun 1991 yil 18-noyabrda O'zbekiston
                    Respublikasi Oliy Kengashining navbatdan tashqari o'tkazilgan VII sessiyasida qabul qilingan.
                </li>
                <li>Davlat bayrog'i va uning ramzi bugungi O'zbekiston sarhadida qadimda mavjud bo'lgan davlatlar
                    bilan tarixan bog'liqligini anglatadi hamda respublikaning milliy-madaniy an'analarini o'zida
                    mujassamlashtiradi.
                </li>
                <li>Bayroqdagi moviy rang tiriklik mazmuni aks etgan mangu osmon va obihayot ramzi. Timsollar tilida bu
                    -
                    yaxshilikni, donishmandlikni, halollikni, shon-shuhrat va sadoqatni bildiradi. Binobarin, Amir Temur
                    davlati bayrog'ining rangi ham moviy rangda edi.
                </li>
                <li>Bayroqdagi oq rang - muqaddas tinchlik ramzi bo'lib, u kun charog'onligi va koinot yoritkichlari
                    bilan uyg'unlashib ketadi. Oq rang – poklik, beg'uborlik, soflikni, orzu va hayollar tozaligi,
                    ichki go'zallikka intilishning timsoli.
                </li>
                <li>Yashil rang – tabiatning yangilanish ramzi. U ko'pgina xalqlarda navqironlik, umid va shodumonlik
                    timsoli hisoblanadi.
                </li>
                <li>Qizil chiziqlar – vujudimizda jo'shib oqayotgan hayotiy qudrat irmoqlarini anglatadi.</li>
                <li>Navqiron yarim oy tasviri bizning tarixiy an'analarimiz bilan bog'liq. Ayni paytda u qo'lga
                    kiritilgan mustaqilligimiz ramzi ham.
                </li>
                <li>Davlat bayrog'imizdagi 12 yulduz tasvirini o'zbek xalqi madaniyatining qadimiyligi, uning
                    komillikka, o'z tuprog'ida saodatga intilishi ramzi sifatida tushunish lozim.
                </li>
            </ul>
        </div>
    </div>

{% endblock %}