{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-content content">
        <div class="blog">
            <h2>O'zbekiston Respublikasining davlat gerbi</h2>
            <ul>
                <li>"O'zbekiston Respublikasi Davlat gerbi to'g'risida"gi Qonun 1992 yil 2 iyulda O'zbekiston
                    Respublikasi Oliy Kengashining X sessiyasida qabul qilingan.
                </li>
                <li>O'zbekiston Respublikasining Davlat gerbi gullagan vodiy uzra charaqlab turgan quyosh tasviridan
                    hamda so'l tomonida bug'doy boshoqlari, o'ng tomonida ochilgan paxta chanoqlari suvrati
                    tushirilgan chambardan iborat.
                </li>
                <li>Gerbning yuqori qismida respublika jipsligining ramzi sifatida sakkiz qirrali yulduz tasvirlanga:
                    sakkiz qirra ichida joylashgan yarim oy va yulduz musulmonlarning qutlug' ramzidir.
                </li>
                <li>Gerbning markazida himmat, olijanoblik va fidoyilik timsoli bo'lgan afsonaviy Xumo qushi
                    qanotlarini
                    yozib turibdi. Ushbu ramz va timsollar xalqimizning tinchlik, yaxshilik, baxt-saodat, farovonlik
                    yo'lidagi
                    orzu-umidlarini ifodalaydi.
                </li>
                <li>Gerbning pastki qismida respublika Davlat bayrog\'ini ifoda etuvchi chambar lentasining bandiga
                    "O'zbekiston” deb yozib qo'yilgan.
                </li>
            </ul>
        </div>
    </div>


{% endblock %}