{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content content">
    <div class="blog">
        <h2 class="madhiya-title">O'zbekiston Respublikasi davlat madhiyasi</h2>
        <ul>
            <li>
                <p>"O'zbekiston Respublikasining davlat madhiyasi to'g'risida"gi Qonun 1992-yil 10-dekabrda
                    O'zbekiston Respublikasi Oliy Kengashining o'n birinchi sessiyasida qabul qilingan</p>
            </li>
            <li>
                <p><i class="fa fa-file-text-o"></i>Abdulla Oripov so'zi</p>
                <p><i class="fa fa-music"></i> Mutal Burhonov musiqasi</p>
            </li>
        </ul>
        <ul class="madhiya">
            <li>
                <p>Serquyosh hur o'lkam, elga baxt, najot,</p>
                <p>Sen o'zing do'stlarga yo'ldosh, mehribon!</p>
                <p>Yashnagay to abad ilmu fan, ijod,</p>
                <p>Shuhrating porlasin toki bor jahon!</p>
                <p class="star">* * *</p>
                <p>Oltin bu vodiylar - jon O'zbekiston,</p>
                <p>Ajdodlar mardona ruhi senga yor!</p>
                <p>Ulug' xalq qudrati jo'sh urgan zamon,</p>
                <p>Olamni mahliyo aylagan diyor!</p>
                <p class="star">* * *</p>
                <p>Bag'ri keng o'zbekning o'chmas iymoni,</p>
                <p>Erkin, yosh avlodlar senga zo'r qanot!</p>
                <p>Istiqlol mash'ali tinchlik posboni,</p>
                <p>Xaqsevar, ona yurt, mangu bo'l obod!</p>
                <p class="star">* * *</p>
                <p>Oltin bu vodiylar - jon O'zbekiston,</p>
                <p>Ajdodlar mardona ruhi senga yor!</p>
                <p>Ulug' xalq qudrati jo'sh urgan zamon,</p>
                <p>Olamni mahliyo aylagan diyor!</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}