{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-content content">
        <ul>
            <li><strong>Toshkent davlat stomatologiya institutining vazifasi</strong> – tibbiy ta’limning yuqori sifat
                standartlariga erishish va uni saqlab qolishdir ilmiy tadqiqotlar tibbiy yordam va shifokorlarning
                doimiy malakasini oshirish shuningdek, globallashuvning zamonaviy sharoitida milliy qadriyatlarni ilgari
                surishdir.
            </li>
            <li><strong>TDSI bolalar stomatologiyasi fakultetining vazifasi</strong> – O’zbekiston Respublikasi
                aholisiga yuqori sifatli tibbiy xizmat ko’rsatadigan, talabga javob beradigan, raqobatbardosh
                mutaxassislarni tayyorlash uchun, rivojlanayotgan amaliyotga yo’naltirilgan innovatsion muhitni
                shakllantirish.
            </li>
            <li><strong>TDSI stomatologiya fakultetining vazifasi</strong> – ilm-fan, texnika, texnologiya yutuqlari va
                O’zbekiston Respublikasining innovatsion rivojlanishiga
                qaratilgan jahon ta’lim stsndartiga integratsiyalashgan yuqori sifatli tibbiy ta’limni takomillashtirish
                va rivojlantirish, mehnat bozori, jamiyat, iqtisodiyot va davlat ehtiyojlariga muvofiq raqobatbardosh
                ta’lim dasturlarini amalga oshirishdan iborat.
            </li>
            <li><strong>TDSI tibbiyot, pedagogika va umumiy tibbiyot fakultetining vazifasi</strong> – yuqori malakali,
                malakali va raqobatbardosh bitiruvchilarni tayyorlash; viloyat aholisiga yuqori
                sifatli oliy kasbiy ta’lim berishni shakllantirish.
            </li>
            <li><strong>TDSI Xalqaro ta’lim fakultetining vazifasi</strong> – O’zbekiston Respublikasi va boshqa
                mamlakatlar uchun zamonaviy tizimli bilimlarga, tibbiy, ilmiy, ijtimoiy-iqtisodiy muammolarni
                hal qilishda samarali ishtirok etish uchun zarur ko’nikma va malakalarga ega bo’lgan
                yuqori darajadagi xalqaro mutaxassislarni tayyorlashdan iborat. O’zbekiston Respublikasi va xalqaro
                hamjamiyat oldida turgan gumanitar va ma’naviy vazifalarni ilgari surishdan iborat.
            </li>
            <li><strong>TDSI magistrlik dasturining yo’nalishi</strong> – kadrlar tayyorlash siyosatining bajarilishini
                ta’minlash raqobatbardosh professional va ilmiy-pedagogik kadrlar,uzluksiz rivojlanish
                tamoyillariga va ilm -fan, amaliyot uchligiga asoslanadi.
            </li>
            <li><strong>TDSI malaka oshirish fakultetining vazifasi</strong> – bilimlar, ijtimoiy-madaniy qadriyatlarni
                saqlash, tarqatish va yaratish tizimi orqali O’zbekiston Respublikasi uchun inson
                salohiyatini ko’paytirish, zamonaviy axborotni efirga uzatish, fakultet ta’lim, fan integratsiyasi
                asosida jamiyatning kelajakdagi intellektual elitasini tayyorlaydi va yangiliklar yaratadi.
            </li>
            <li><strong>TDSI klinik rezidenturasining vazifasi</strong> – talabalar va shifokorlarga tibbiyot fanining
                va amaliyotining so’nggi yutuqlarini o’rgatish orqali odamlarning sog’lig’ini yaxshilashdan iborat.
            </li>
        </ul>
    </div>


{% endblock %}